:root {
	--main-color: #111111;
	--purple: #6E51BE;
	--light-gray: #999999;
	--lightM-gray: #888888;
	--medium-gray: #333333;
	--dark-gray: #1E1E1E;
	--main-font: #EEEEEE;
	--hover-font: #D0D0D0;
}


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	background-color: var(--main-color);
	color: var(--main-font);
	font-family: 'Exo', sans-serif;
	border: 0;
	display: flex;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0 12vw;
}


a {
	text-decoration: none;
	color: var(--main-font);
}

a:hover {
	text-decoration: none;
	color: var(--hover-font);
}


nav {
	height: 100%;
	width: 20vw;
	background-color: #333;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	display: grid;
	grid-template-rows: 20% 60% 20%;
}

.heading img {
	width: 50%;
	margin: 1.5rem 2rem;
}

.menu a, .deconnect, .menu div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 2rem;
}

.menu div {
	background-color: var(--purple);
}
.menu a:hover {
	background-color: var(--lightM-gray);
}

.menu img, .deconnect img {
	width: 2rem;
	margin-right: 2rem;
}

.deconnect {
	align-self: flex-end;
}


h1 {
	margin: 2rem 0;
	font-size: 2.5rem;
}
.admin-name {
	text-transform: capitalize;
}
 #disconnect {
	 cursor: pointer;
 }
/*--- Présentation / Modification ---*/
#modify {
	display: grid;
	grid-template-rows: 20% 70% 10%;
	grid-template-columns: 50% 50%;
	padding: 0 7vw;
}

#modify h1 {
	align-self: flex-start;
}
#modify section:last-of-type, #modify h1 {
	grid-column: span 2;
}

select {
	background-color: var(--medium-gray);
	border: none;
	width: 50%;
	height: 2rem;
	color: white;
}
#manage-races {
	padding-right: 3rem;
}

#manage-races textarea {
	min-height: 8rem;
}

.races-stats {
	display: grid;
	grid-template-columns: repeat(3, 31%);
	gap: 1rem;
}
.races-stats div{
	display: flex;
	flex-direction: column;
}

.specs-stats div {
	display: flex;
	flex-direction: column;
}
.specs-stats input {
	height: 2.5rem;
	margin-bottom: 1rem;
	margin-top: .5rem;
}

dialog {
	background-color: var(--dark-gray);
	color: var(--text-color);
	text-align: center;
	border: none;
	padding: 2rem;
	border-radius: 6px;
	box-shadow: 0 0 40px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.25);
	max-width: 90vw;
	margin: auto;
  }
    
  dialog::backdrop {
	background: rgba(255, 255, 255, 0.25);
}
dialog button{
	border: none;
	margin: 1rem;
	padding: .5rem 1rem;
}

dialog button:first-of-type {
	color: var(--main-font);
	background-color: red;
}

dialog button:last-of-type {
	color: var(--main-font);
	background-color: transparent;
	border:2px solid var(--main-font);
}
/* Prix */
#prices-forumles, #feature-container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
}
#feature-container {
	display: flex;
	flex-direction: column;
}
.feature {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.feature p {
	margin: .5rem 0;
}
.formule-title {
	font-size: 1.5rem;
}

.price-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem 0;
}

.price-container input {
	width: 20%;
	font-size: 1.2rem;
	margin-right: .3rem;
}



/*create article*/
main > section {
	display: flex;
	flex-direction: column;
}

main > section > div {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
}

main h2 {
	margin-bottom: .7rem;
	font-size: 1.3rem;
	font-weight: normal;
}

input {
	padding: .3rem;
}

#category {
	align-self: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#category select {
	padding: .3rem 0;
}
#category select, textarea, input {
	background-color: var(--medium-gray);
	border:none;
	color: var(--main-font);
	border-radius: 3px;
}

#article-title{
	height: 3rem;
}
textarea {
	min-height: 300px;
	padding: 1rem;
	font-family: inherit;
	resize: none;
}

main > section > a {
	align-self: center;
}
.post-art {
	margin: 0 4rem;
}
#save, #write {
	background-color: var(--purple);
	border: none;
	padding: .5rem 1rem;
	border-radius: 5px;
	align-self: center;
	font-weight: bold;
	color: var(--main-font);
	cursor: pointer;
	font-size: 1rem;
}

#save img, #write img{
	width: 15px;
	margin-right: 1rem;
}

/*Liste article*/
#topArticle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.article {
	background-color: var(--medium-gray);
	display: grid;
	grid-template-columns: 11rem 1fr 7rem;
	padding: 2rem;
	margin: 2rem 0;
	cursor: pointer;
}

.article > div > img {
	width: 150px;
}

.article > div:first-of-type {
	margin-right: 1rem;
}

.article  .corps {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.article p {
	font-size: .7rem;
}

.article a {
	display: flex;
}

.content-article {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.tools {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
figure {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

figcaption {
	font-size: .8rem;
	margin-right: 1rem;
}

.visibility {
	width: 20px;
}


.tools div {
	text-align: end;
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.tools div p {
	font-size: .8rem;
	font-weight: 900;
	cursor: pointer;
}
.remove {
	background-color: red;
	padding: .5rem 1rem;
	text-align: center;
	margin-top: 1rem;
}

.edition {
	background-color: var(--purple);
	padding: .5rem 1rem;
	text-align: center;
}



/* FAQ */
.question {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: .5rem 0;
}

.question div {
	display: flex;
	align-items: center;
}
.edit img, .delete img{
	width: 1rem;
	margin: 0 .7rem;
}

.faq-edit {
	margin-top: 2rem;
}

#faq-title {
	margin-bottom: 2rem;
}

#faq-text {
	min-height: 8rem;
	margin-bottom: 4rem;
}

/* Bug Report */
.bug {
	background-color: var(--medium-gray);
	padding: 1.5rem 2rem;
}

.bug div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 1rem;
}
.bug-name{
	font-weight: 900;	
	font-size: 1.2rem;
}
.bug-date {
	margin: 0 1rem;
	opacity: .7;
}
.bug-type {
	margin-left: auto;
	font-weight: bold;	
}


/*------------------------RESPONSIVE------------------------------*/
@media (min-width: 800px) and (max-width: 1100px) {
	nav {
		width: auto;
		max-width: 500px;
	}
	.article {
		grid-template-columns: 65% 35%;
		grid-template-rows: 50% 50%;
	}
	.article .tools {
		grid-column: 2;
		grid-row: 1;
		margin-bottom: 3rem;
	}
	.article > a {
		grid-column: span 2;
	}
	.article p {
		font-size: .5rem;
		padding: .3rem;
	}
	#modify {
		flex-direction: column;
		grid-template: none;
		display: block;
	}
	#prices-forumles {
		display: flex;
	}

}

@media screen and (max-width: 800px) {
	.heading {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.heading a {
		width: 50%;
	}
	.heading img {
		width: 100%;
	}
	#close-admin {
		font-size: 2rem;
		filter: brightness(200);
	}
	#open-admin {
		font-size: 4rem;
		line-height: .7rem;
		height: 50px;
		position: absolute;
		top: 0;
		left: 2rem;
	}
	main {
		width: 100vw;
	}
	#modify {
		flex-direction: column;
		grid-template: none;
		display: block;
	}
	#prices-formules {
		display: flex;
	}
	#topArticle {
		flex-wrap: wrap;
	}

	#topArticle button {
		margin: 2rem 0;
	}
	nav {
		position: fixed;
		width: 50vw;
		min-width: 300px;
		transition: transform .5s;
		z-index: 5;
	}

	.article {
		flex-direction: column;
		grid-template-columns: none;
	}
	
	.article  div > img {
		width: 100%;
	}
	.corps {
		margin-top: 1rem;
	}
	figure {
		max-width: 50px;
		align-self: flex-end;
		margin: 1rem 2rem;
	}
	main h1{
		font-size: 1.7rem;
	}
	main > section h2 {
		font-size: 1rem;
	}
}

/* extra large */ 
@media (min-width: 2500px){
	html {
		font-size: 1.5rem;
	}
	.article > div > img {
		width: 240px;
	}
}