:root {
	--main-color: #111111;
	--purple: #6E51BE;
	--light-gray: #999999;
	--lightM-gray: #888888;
	--medium-gray: #333333;
	--dark-gray: #1E1E1E;
	--main-font: #EEEEEE;
	--hover-font: #D0D0D0;
}


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--main-color);
	color: var(--main-font);
	font-family: 'Exo', sans-serif;
	border: 0;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: var(--main-font);
}

a:hover {
	text-decoration: none;
	color: var(--hover-font);
}


/*spotlight*/
#spotlight {
	background: url('../image/space.png') no-repeat;
	background-size: cover;
	min-height: 120vh;
	position: relative;
	padding: 10rem 10%;
}

.shadeUp, .shadeDown {
	position: absolute;
	left: 0;
	width: 100%;
}

.shadeUp {
	top: 0;
}

.shadeDown {
	bottom: 0;
}


#spotlight > section, #spotlight > section > a {
	display: flex;
	flex-direction: row;
}

#highlighted {
	margin-bottom: 8rem;
}

#highlighted p {
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}


#highlighted img {
	width: 40%;
}

#highlighted div {
	width: 45%;
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#highlighted h2 {
	font-size: 2rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}

#side {
	justify-content: space-between;
}

#side a{
	width: 25%;
}

#side h2 {
	font-size: 1.15rem;
	margin-bottom: 1rem;
	margin-top: 10px;
}

#side img {
	width: 100%;
}

#side .front-content {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.front-img {
	background-color: var(--medium-gray);
}


/*History*/
#all {
	display: flex;
	flex-direction: column;
	padding: 10rem 10%;
}
#all > section:first-of-type{
	margin-bottom: 4rem;
}

#all button {
	background-color: var(--medium-gray);
	border: none;
	color: var(--main-font);
	padding: 10px 15px;
	margin-right: 1rem;
	margin-bottom: 1rem;
	font-size: 1rem;
}

article {
	display: flex;
	background-color: var(--dark-gray);
	height: 250px;
	margin-bottom: 4rem;
}

article > div:first-of-type {
	width: 30%;
	max-width: 600px;
}

article > div:last-of-type {
	width: 70%;
	padding: 30px 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

article img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

article b {
	opacity: .5;
	font-size: .8rem;
}
#list p {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

#all section:last-of-type {
	display: flex;
	justify-content: center;
}

/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------------Responsive-------------------------------------------*/


@media screen and (max-width: 800px) {
	#highlighted, #side, article, #spotlight > section > a {
		flex-direction: column!important;
		height: auto;
		width: auto;
	}

	#highlighted img{
		width: 100%;
	}
	#highlighted div {
		width: auto;
		margin-left: 0;
	}
	#highlighted::before{
		content: 'À la une';
		font-size: 1.2rem;
		margin-bottom: 1rem;
		font-weight: 900;
		color: var(--light-gray);
	}

	#highlighted h2{
		font-size: 1.5rem;	
	}

	#highlighted p {
		font-size: .8rem;
	}

	#side::before {
		content: 'Articles récents';
		font-size: 1.2rem;
		margin-bottom: 1rem;
		font-weight: 900;
		color: var(--light-gray);
	}

	#side h2 {
		font-size: 1.2rem;
	}
	#side p {
		font-size: .8rem;
	}

	#side div {
		width: 100%;
		margin-bottom: 4rem;
	}

	article > div{
		width: 100%!important;
	}
	article  > div:last-of-type > div{
		margin-bottom: 1rem;
	}
	#all button {
		font-size: 1rem;
	}
}	

@media screen and (max-width: 500px) {
	article h2 {
		font-size: 1.2rem;
	}	
	article p{
		font-size: .8rem;
	}
	article > div:last-of-type {
		padding: 1rem 1rem;
	}


}

/* extra large */ 
@media (min-width: 2500px){
	html {
		font-size: 1.5rem;
	}
	.shadeDown {
		z-index: -5;
	}
	article {
		margin-bottom: 8rem;
		height: 10rem;
	}
	article > div:first-of-type {
		display: flex;
		justify-content: center;

	}

	#side h2{
		font-size: 1rem;
	}
}