footer {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	background-color: #4b4b4b;
 	height: 100px;
 	width: 100%;
}

footer div {
	display: flex;
}

footer img{
	width: 30px;
}

footer div:first-of-type{
	margin-left: 40px;
}

footer div:first-of-type a{
	margin-left: 20px;
}

footer div:last-of-type a{
	margin-right: 50px;
}


@media screen and (max-width: 1000px) {
	footer {
		flex-direction: column;
		height: auto;
		padding: 2rem 0;
	}
	#social {
		margin-left: 0;
	}
	footer > div:last-of-type {
		flex-direction: column;
		align-items: center;
	}
	footer div:last-of-type a{
		margin-right: 0px;
	}

}	