header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	width: 100%;
	z-index: 5;
}

header img {
	margin-left: 50px;
	width: 150px;
}

header a{
	margin-right: 50px;
}
