body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10, .bgimg-11, .bgimg-12, .bgimg-13, .bgimg-14, .bgimg-15, .bgimg-16 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {/*Haut de Page Index*/
    background-image: url("images/background/paracloud.jpg");
    min-height: 100%;
}

/* Second image */
.bgimg-2 { /*Presentation*/
    background-image: url("images/background/pont.jpg");
    min-height: 400px;
}

/* Third image */
.bgimg-3 { /*Information*/
    background-image: url("images/background/pont.jpg");
    min-height: 400px;
}

/* Fourth image */
.bgimg-4 {/*Haut de Page Voilier*/
    background-image: url("images/background/voi.jpg");
    min-height: 100%;
}

/* Fifth image */
.bgimg-5 { /*Winch*/
    background-image: url("images/background/winch.png");
    min-height: 400px;
}
/* Sixth image*/
.bgimg-6 { /*Leap Motion*/
    background-image: url("images/background/Leap.png");
    min-height: 400px;
}

/* Seventh image */
.bgimg-7 { /*Vitesse*/
    background-image: url("images/background/voil.jpg");
    min-height: 400px;
}

/* Eighth image */
.bgimg-8 { /*IHM graphique*/
    background-image: url("images/phone/zoom3.jpg");
    min-height: 400px;
}

/* Ninth image */
.bgimg-9 {/*Haut de Page Quille*/
    background-image: url("images/background/voi.jpg");
    min-height: 100%;
}

/* Tenth image */
.bgimg-10 { /*Liaison*/
    background-image: url("images/background/engrenage3.jpg");
    min-height: 400px;
}
/* Eleventh image */
.bgimg-11 { /*Articulation*/
    background-image: url("images/background/maq2.jpg");
    min-height: 400px;
}

/* Twelfth image */
.bgimg-12 { /*Accelerometer*/
    background-image: url("images/background/gyro.png");
    min-height: 400px;
}
/* Thirteenth image */
.bgimg-13 { /*Haut de Page Download*/
    background-image: url("images/phone/design.jpg");
    min-height: 100%;
}

/* Sixteenth image */
.bgimg-16 { /*Présentation*/
    background-image: url("images/phone/presentation.png");
    min-height: 400px;
}

/* Fourteenth image */
.bgimg-14 { /*Installation*/
    background-image: url("images/phone/shaomi.jpg");
    min-height: 400px;
}

/* Fifteenth image */
.bgimg-15 { /*Download*/
    background-image: url("images/phone/umidigi.jpg");
    min-height: 400px;
}

/* Sixteenth image */
.bgimg-15 { /*Présentation*/
    background-image: url("images/phone/umidigi.jpg");
    min-height: 400px;
}


.wide {letter-spacing: 10px;}
.hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10, .bgimg-11, .bgimg-12.bgimg-13, .bgimg-14, .bgimg-15, .bgimg-16  {
        background-attachment: scroll;
    }
}

a:link
{
    text-decoration:none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}